DBTYPE=HANA
DB_SERVER=127.0.0.1:30015
DB_PORT=30015
DB_USERNAME=SEU_USUARIO
DB_PASSWORD=SUA_SENHA
COMMON_LIMIT_TIME=10

CHECK_BSL=true
CHECK_WEB=true
CHECK_SERVER=true
CHECK_COMMON=true
CHECK_MULTIPLE_PIDS=true
NUMBER_OF_RETRIES=3
