# ==========================================
# Configurações de Banco de Dados
# ==========================================
DBTYPE=HANA
DB_SERVER=192.168.X.X
DB_PORT=30015
DB_USERNAME=B1ADMIN
DB_PASSWORD=SuaSenhaAqui

# ==========================================
# Configurações de Monitoramento
# ==========================================
# Define o tempo limite (em minutos) para considerar o serviço Common travado
COMMON_LIMIT_TIME=10

# ==========================================
# Habilitar/Desabilitar Módulos
# ==========================================
# Preencha com 'True' ou '1' para habilitar as verificações abaixo:
CHECK_BSL=True
CHECK_WEB=True
CHECK_SERVER=True
CHECK_COMMON=True
CHECK_MULTIPLE_PIDS=True
